@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$red: #D40000;
$grey: #F3F2F0;
$white: #fff;
$black: #010101;

//Variables После просмотра удалить
$color-primary-theme: #30336b;
$width-sm-min: (768px);

$font-inter: 'Inter', sans-serif;

$r_mob_320: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_full_1750: 1750px;

html {
	font-size: 10px;
	@media(max-width: $r_mob_500) {
		font-size: 8px;
	}
}

body {
	background-color: $grey;
	font-size: 1.4rem;
	font-family: $font-inter;
	font-weight: 400;
}

.wrapper {
	overflow: hidden;
}

.__container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
	@media(max-width: $r_tab_900) {
		padding: 0px 5px;
	}
}

.header {
	padding: 40px 0px 60px 0px;
	@media(max-width: $r_mob_500) {
		padding: 20px 0px 40px 0px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		@media(max-width: $r_tab) {
			display: none;
		}
	}

	&__list {
		display: flex;
		gap: 30px;
		padding-left: 0px;
		@media(max-width: $r_tab_900) {
			gap: 10px;
		}
	}

	&__item {
		padding: 0px;
		list-style: none;
	}

	&__link {
		color: $black;
		line-height: 1.5;
		text-decoration: none;
		transition: .9s;
		&:hover {
			color: $red;
		}
	}

	&__mob {
		max-width: 768px;
		width: 100%;
		display: none;
		&-wrapper {
			display: flex;
			justify-content: space-between;
		}
		@media(max-width: $r_tab) {
			display: block;
		}
	}
}

.connect {
	display: flex;
	&_tel {
		display: block;
		padding: 5px 13px;
	}

	&_mail {
		border-left: 1px solid rgba($black, .2);
		display: block;
		padding: 5px 0px 5px 13px;
	}

	@media(max-width: $r_tab) {
		display: none;
	}
}

.burger {
	width: 26px;
	height: 20px;
	background: url('../icons/burger.svg') 0 0 no-repeat;
	background-color: transparent;
	background-size: contain;
	border: none;
	cursor: pointer;
}

.burger-close {
	width: 22px;
	height: 22px;
	background: url('../icons/close.svg') 0 0 no-repeat;
	background-color: transparent;
	border: none;
	background-size: contain;
	position: absolute;
	top: 20px;
	right: 10px;
	cursor: pointer;
}

.modal {
	background-color: $grey;
	max-width: 360px;
	width: 100%;
	padding: 0px 10px;
	position: absolute;
	top: -840px;
	right: 5px;
	box-sizing: border-box;
	transition: .3s;
	&__header {
		height: 80px;
		border-bottom: 1px solid $black;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px;
	}

	&__item {
		border-bottom: 1px solid $black;
		display: block;
		max-width: 360px;
		width: 100%;
		list-style: none;
		padding: 20px 0px;
		text-align: center;
		width: 100%;
	}

	&__link {
		color: $black;
		text-decoration: none;
		font-size: 2.6rem;
		line-height: 1.5;
		transition: .3s;
		&:hover {
			color: $red;
		}
	}

	&__footer {
		display: flex;
		padding: 21px 0px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 21px;
	}

	&__skill {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: -10px -10px;
		padding: 0px 10px;
		background-color: rgba($black, .2);
	}

	&__description {
		max-width: 141px;
	}

	&__title {
		color: $black;
		font-size: 1.2rem;
		font-weight: 700;
		line-height: 1.5;
	}

	&__text {
		color: $black;
		font-size: 1rem;
		line-height: 1.75;
	}
}

.social {
	display: flex;
	width: 270px;
	justify-content: space-between;
	&>*:not(:last-child) {
		border-right: 1px solid rgba($black, .2);
		padding-right: 14px;
	}
	&_link {
		display: block;
		padding-top: 4px;
		padding-bottom: 4px;
		flex-basis: 57px;
		color: $black;
		text-decoration: none;
		font-size: 16px;
		line-height: 1.5;
		transition: .3s;
		&:hover {
			color: $red;
		}
	}
}

.description {
	max-width: 197px;
	&-title {
		color: $black;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.5;
	}

	&-text {
		color: rgba($black, .8);
		font-size: 1.4rem;
		line-height: 1.5;
	}
}

.text {
	color: $black;
		font-size: 1.4rem;
		line-height: 1.5;
}


.main-block {
	&__about {
		padding: 113px 0px;
	}

	&__name {
		display: block;
		color: $black;
		font-size: 2.8rem;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 60px;
	}

	&__title {
		color: $black;
		display: block;
		text-transform: uppercase;
		font-size: 7.4rem;
		font-weight: 700;
	}

	&__discuss {
		display: flex;
		border-bottom: 1px solid $black;
		padding-bottom: 57px;
		justify-content: space-between;
	}

	&__button-block {
		display: flex;
		justify-content: flex-start;
		padding: 0px 0px 15px 0px;
		position: relative;
		width: 170px; 
		&:hover {
			cursor: pointer;
		}

		&::after {
			content: '';
			width: 170px;
			width: 0%;
			height: 1px;
			position: absolute;
			background-color: $black;
			top: 35px;
			transition: .3s;
		}
	
		&:hover::after{
			cursor: pointer;
			width: 100%;
			background-color: $black;
		}
	}

	&__button {
		color: $black;
		display: block;
		padding-left: 0px;
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: 700;
		&:hover {
			cursor: pointer;
		}
		&::after {
			content: '';
			background: url('../icons/arrow.svg');
			width: 15px;
			height: 10px;
			position: absolute;
			top: 5px;
			right: 0px;
		}
	}

	&__skill {
		display: flex;
		justify-content: space-between;
	}
}
	
// ВЫПАДАШКА на чистом CSS

.messenger {
	background-color: $grey;
	position: absolute;
	z-index: 100;
	top: -2000px;
	right: 500px;
	max-width: 600px;
   width: 100%;
	margin: 100px auto 400px;
	&__close {
		width: 22px;
		height: 22px;
		background: url('../icons/close.svg') 0 0 no-repeat;
		background-color: transparent;
		border: none;
		background-size: contain;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	&__container {
		max-width: 560px;
		width: 100%;
	   padding: 0px 20px;
	   box-sizing: content-box;
	}

	&__header {
		max-width: 400px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}

	&__title {
		color: $black;
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 1.5;
	}

	&__subtitle {
		color: rgba($black, .8);
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.5;
	}

	&__line {
		background-color: $black;
		max-width: 560px;
		width: 100%;
		height: 1px;
	}

	&__call {
		border: none;
		background-color: rgba($black, .05);
		display: block;
		max-width: 520px;
		padding: 24px 20px;;
		width: 100%;
	}

	&__label {
		display: block;
		margin-bottom: 10px;
		padding: 0px;
		font-size: 1.2rem;
		font-weight: 400;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $red;
		margin: 40px 0px;
		max-width: 560px;
		width: 100%;
		height: 65px;
		z-index: 0;
		transition: .3s;
		&:hover {
			background-color: rgba($red, .5);
			cursor: pointer;
		}
	}

	&__btn {
		color: $white;
		background-color: initial;
		border: none;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.5;
	}
}

//-------  Dropdown ----------
.drop {
	position: relative;
   input[type="checkbox"] {
    display: none;
    &:checked{
      ~.drop-items {
        opacity: 1;
        max-height: 400px;
      }
      ~.control {       
        z-index: 99;
        &:after {transform: rotate(180deg);}
      }
		~.messenger__button {
			display: none;
		}
      ~.overlay-close {
        transform: none;
        pointer-events: initial;
      }
    }
  }
  
  .control {
    position: relative;
	 width: 520px;
	 max-width: 100%;
    color: $black;
	 font-size: 1.2rem;
    display: flex;
	 justify-content: space-between;
	 align-items: center;
    cursor: pointer;
    padding: 24px 20px;
    background: rgba($black, .05); 
    transition: all .3s ease;    
    &:after {
      content: " ";
      display:inline-block;      
      height: 7px;
      width: 12px;
      margin-left: .8em;
      background-image: url(../icons/droparrow.svg);
      background-repeat:no-repeat;
      background-position: center;
      background-size: contain;      
      transition: transform .3s ease;
    }
  }
  
  .drop-items {  
	 max-width: 540px;  
    width: 100%;
	 position: absolute;
    padding: 0px 0px 0px 20px;
    margin: 0px -20px 0px 0px;
    transition: all .3s ease;    
    background: rgba($black, .05);   
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    z-index: 99;
    
    .item-drop {
      list-style: none;
		&:last-child {
			margin-bottom: 20px;
		}
      a {        
        display:block;
		  font-size: 1.2rem;
        color: rgba($black, .4);
        text-decoration: none;
        padding: .6rem;
        transition: all .3s ease;
        &:hover {
			color: $black;
		  }
      }
    }
  }
  
  .overlay-close {
    position: fixed;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    transform: translate(100%, 0);
    pointer-events: none;
  }
}